@import '../index'

.Home_wrapper, .Home_signup_wrapper
  text-align: center

.Home_wrapper_title, .Home_signup_title
  padding-top: 20px
  color: $stext
  font-size: 3em
  font-weight: 700

.Home_wrapper_img, .Home_wrapper_signup_img
  width: 70vw
  padding: 40px 30px 30px 30px

.Home_wrapper_text, .Home_signup_text
  margin: 20px
  color: $stext
  text-align: justify
  hyphens: auto
  font-size: 1.2em

.Home_signup_googlebutton
  border-radius: 10px
  width: 40vw
  height: 6vh
  font-size: 1.1em
  font-family: 'Nunito', sans-serif
  background-color: $plight
  color: $ptext
  text-decoration: none
