@import '../index'

#flyoutMenu
  width: 30vw
  height: 100vh
  background-color: #645375
  position: fixed
  top: 0
  left: 0
  transition: transform .3s cubic-bezier(0, .52, 0, 1)
  overflow: scroll
  z-index: 1000

#flyoutMenu.hide
  transform: translate3d(-100vw, 0, 0)

#flyoutMenu.show
  transform: translate3d(0vw, 0, 0)
  overflow: hidden

#flyoutMenu a, a:link, a:visited
  +flex()
  height: 8vh
  text-decoration: none
  color: #FFC37F

// #flyoutMenu a:hover
//   background-color: white

.flyoutMenu_MenuProfileWrapper
  +flex($direction: column, $justify: center)

.flyoutMenu_divWrapper
  list-style-type: none
  margin-top: 135%

.flyoutMenu_li
  background-color: #645375
  border-bottom: 2px solid #33354C

.flyoutMenu_li:hover
  background-color: white


.flyoutMenu_li_name
  +flex($direction: row, $justify: flex-start, $align: center)
  margin: 10px auto 10px 0px

.flyoutMenu_li_img
  padding: 5px
  margin: 10px auto 10px auto
  width: 30%
  color: white