@import '../index'

#flyoutMenu
  width: 30vw
  height: 100vh
  background-color: #645375
  position: fixed
  top: 0
  left: 0
  transition: transform .3s cubic-bezier(0, .52, 0, 1)
  overflow: scroll
  z-index: 1000

#flyoutMenu.hide
  transform: translate3d(-100vw, 0, 0)

#flyoutMenu.show
  transform: translate3d(0vw, 0, 0)
  overflow: hidden

.flyoutMenu_MenuProfileWrapper
  background-color: red
  +flex($direction: column, $justify: center)

.flyoutMenu_divWrapper
  +flex($direction: column)
  list-style-type: none
  margin-top: 135%;

.flyoutMenu_li
  +flex($direction: row, $justify: center)
  background-color: #645375
  border-bottom: 2px solid red

#flyoutMenu a, a:link, a:visited
  text-decoration: none
  color: #FFEFDD

#flyoutMenu a:hover
  background-color: white

.flyoutMenu_li_name
  +flex($direction: row, $justify: center)
  margin: 10px auto 10px auto

.flyoutMenu_li_img
  +flex($direction: row)
  padding: 5px
  display: block
  margin: 10px auto 10px auto
  width: 30%