@import '../index'

#flyoutMenu
  width: 80vw
  height: 100vh
  background-color: $secondary
  position: fixed
  top: 0
  left: 0
  transition: transform .3s cubic-bezier(0, .52, 0, 1)
  overflow: scroll
  z-index: 1000

  li
    &:hover
      background-color: rgba(0,0,0,.2)

// SLIDE
#flyoutMenu.hide
  transform: translate3d(-100vw, 0, 0)

#flyoutMenu.show
  transform: translate3d(0vw, 0, 0)
  overflow: hidden

#flyoutMenu a, a:link, a:visited
  +flex()
  height: 5vh
  text-decoration: none
  padding: 6px

.flyoutMenu_MenuProfileWrapper
  +flex($direction: column, $justify: center)

.flyoutMenu_divWrapper
  list-style-type: none
  margin-top: 33%

// .flyoutMenu_li
//   background-color: $slight
//   border-bottom: 1px solid #33354C

// .flyoutMenu_li
//   &:hover
//   background-color: red

.flyoutMenu_li_name
  +flex($direction: row, $justify: flex-start, $align: center)
  margin: 10px auto 10px 0px
  color: $stext
  font-size: 1em

.flyoutMenu_li_img
  width: 20%
  padding-top: 5px