@import '../index'

.Result_null
  padding: 20px
  text-align: center

.Result_null_img
  width: 70vw
  padding: 40px 30px 10px 30px

.Result_null_text
  padding: 20px;
  color: #997A77
  text-align: center
  font-size: 1em

.Result_topinfo_outerdiv
  background-color: yellow
  height: 24vh

.Result_img_outerdiv
  +flex()

.Result_img
  +flex($direction: column, $justify: space-around)
  width: 40%
  height: 40%
  padding: 10px;

.Result_topinfo_wrapper
  +flex($direction: column)
  color: #997A77
  padding: 10px
  background-color: pink

.Result_topinfo_wrapper_title
  font-size: 2em
  margin-top: -6px
  font-weight: 700

.Result_topinfo_wrapper_subtitle
  font-size: 1.6em

.Result_topinfo_wrapper_categories
  font-weight: 300

.Result_topinfo_wrapper_authors
  font-style: italic
  font-size: .9em
  margin-top: -6px

.Result_topinfo_wrapper_rating
  margin-top: 10px

.Result_bottominfo_outerdiv
  padding-top: 45px

.Result_bottominfo_sinopsis
  padding-left: 20px
  font-size: 2em

.Result_TextSnippet
  padding: 20px
  color: #997A77
  font-size:: 1.2em
  font-weight: 300
  font-style: italic
  text-align: justify
  hyphens: auto