.Result_null
  padding: 20px
  text-align: center

.Result_null_img
  width: 70vw
  padding: 40px 30px 10px 30px

.Result_null_text
  padding: 20px;
  color: #997A77
  text-align: center
  font-size: 1em

.Result_Img_outerdiv
  background-color: yellow

.Result_Img
  width: 60%
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;


.Result_Title
  color: #997A77
  font-size: 3em
  padding: 10px
  background-color: pink

.Result_Subtitle
  color: #997A77
  background-color: lavender

.Result_Author
  color: #997A77
  background-color: lavenderblush

.Result_TextSnippet
  color: #997A77
  background-color: indianred

.Result_averageRating
  color: #997A77
  background-color: thistle