=flex($direction: null, $justify:null, $align:null, $wrap:null)
  display: flex
  flex-direction: $direction
  justify-content: $justify
  align-items: $align
  flex-wrap: $wrap

.App
  text-align: left

.App_header
  height: 6vh
  padding: 15px
  color: white
  background-color: #FFEFDD
  +flex($direction: row, $justify:space-around)

.App_header_MenuContainer
  +flex()
  background-color: aliceblue

input[type='text']
  +flex($direction:column)
  font-size: 1em
  background-color: pearl
  width: 60vw
  height: 6vh
  border-radius: 20px
  border: none;
  padding-left: 50px;

  background-image: url(assets/search-book.svg)
  background-repeat: no-repeat
  background-position: 10px;
  background-size: 10%

input[type='text']:focus
  outline: none

.App_header_SearchBar::placeholder
  padding: 10px 50px




