=flex($direction: null, $justify:null, $align:null, $wrap:null)
  display: flex
  flex-direction: $direction
  justify-content: $justify
  align-items: $align
  flex-wrap: $wrap

.App
  text-align: center

.App_header
  background-color: #33354C
  height: 2vh
  padding: 15px
  color: white
  +flex($direction: column, $justify:space-around)

.App_header_MenuContainer
  +flex()

.App_header_Title
  +flex($direction:column)
  font-size: 1em
  padding: 20px

.App_outerdiv
  background-color: pink
  padding: 20px




