=flex($direction: null, $justify:null, $align:null, $wrap:null)
  display: flex
  flex-direction: $direction
  justify-content: $justify
  align-items: $align
  flex-wrap: $wrap

$primary: #470008
$plight: #772e30
$pdark: #2b0000
$ptext: #ffffff

$darkgrey: #e0e0e0
$lightgrey: #f5f5f5

$secondary: #ddd0d2
$slight: #ffffff
$sdark: #ab9fa1
$stext: #000000

body
  margin: 0
  padding: 0
  background-color: $lightgrey
  font-family: 'Nunito', sans-serif